doctype html
html
  head
    title Бар Веселый Енот
    link(rel='stylesheet', href='css/main.css')
  body
    header
      img(src='img/logo.png')
      h1 Привет! Показать столики? 
    article
      block main
    footer
      p 2017 &copy; Бар Веселый Енот
