doctype html
html
  head
    title Наш Ресторан
    link(rel='stylesheet', href='css/main.css')
  body
    header
      img(src='img/logo.png')
      h1 Наш Ресторан
    aside
      nav
        a(href='/') Выбор даты
    article
      block main
    footer
      p 2017 &copy; Наш Ресторан
