extends ../layout

block main
    h2 Давай выберем дату :
    form(method='post', action='/select')
      input(name='date', type='date', value='2017-08-19' min='2017-08-19' required)
      input(name='submit', type='submit', class='button')
